{% extends "shared/layout.html" %}

{% block additional_css %}
    <link href="/static/css/account.css" rel="stylesheet">
{% endblock %}

{% block title %}Password Change{% endblock %}

{% block main_content %}

    <section class="vh-100" id="change-password">
        <div class="container py-5 h-100">

            <!-- ------------------------- Notification Area ------------------------- -->
            <div class="row mt-5 px-1">
                <!-- If there are errors passed from the view models, prioritize those -->
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error:</strong> {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>

                    <!-- If no errors from vm's, then show flask flashed msgs instead -->
                {% else %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Warning:</strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div>

            <!-- ------------------------- Form Card Starts HERE ------------------------- -->
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong">
                        <div class="card-body px-5 py-4">
                            <form action="" method="POST">

                                <div class="text-center">
                                    <h3 class="mb-4">Password Change</h3>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="currentPassword">Current Password</label>
                                    <input type="password" id="currentPassword" name="current_password"
                                           class="form-control form-control-lg"
                                           aria-label="enter current password"
                                           required/>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="newPassword">New Password</label>
                                    <input type="password" id="newPassword" name="confirm_password"
                                           class="form-control form-control-lg"
                                           aria-label="enter a new password"
                                           required/>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="confirmPassword">Confirm New Password</label>
                                    <input type="password" id="confirmPassword" name="new_password"
                                           class="form-control form-control-lg"
                                           aria-label="confirm new password"
                                           required/>
                                </div>

                                <div class="text-center pt-3">
                                    <button class="btn btn-primary btn-custom-2" type="submit">Change Password</button>
                                </div>

                            </form>
                        </div>
                        {% if error %}
                            <div class="text-danger text-center">
                                <p>Please try again.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}