{% extends "shared/layout.html" %}

{% block additional_css %}
    <link href="/static/css/account.css" rel="stylesheet">
{% endblock %}

{% block title %}Success{% endblock %}

{% block main_content %}
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Email Confirmation</div>
                    <div class="card-body">
                        <p class="card-title">Thank you for confirming your email address.</p>
                        <p class="card-text">You can now <a href="{% url 'login' %}">login</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}