<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <link href="/static/css/bootstrap.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" href="/static/css/site_wide.css">

        {% block additional_css %}{% endblock %}

        <title>Variable Evaluator - {% block title %}{% endblock %}</title>

        {% block additional_js %}{% endblock %}

    </head>
    <body>

        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container-fluid">

                {% if user_id %}
                    <a class="navbar-brand" href="/app">
                        <img src="/static/img/hand_icon.svg" alt="" width="66" height="58">
                    </a>
                {% else %}
                    <a class="navbar-brand" href="/">
                        <img src="/static/img/hand_icon.svg" alt="" width="66" height="58">
                    </a>
                {% endif %}

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ms-auto">
                        {% if user_id %}
                            <li class="nav-item">
                                <a class="nav-link" href="/app">App</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/account" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Account
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="/account">Overview</a></li>
                                    <li><a class="dropdown-item" href="/account/history">History</a></li>
                                    <li><a class="dropdown-item" id="last_nav_link" href="/account/logout">Logout</a></li>
                                </ul>
                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account/register" id="last_nav_link">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block main_content %}{% endblock %}

        <footer>
            <div class="text-center p-3">
                Copyright &copy; Joshua Aguilar 2022
            </div>
        </footer>
        <script src="/static/js/bootstrap.bundle.js"></script>
    </body>

</html>