#app-title {
    color: #dc3545;
    font-family: 'Nunito', sans-serif;
}
.form-body {
    max-width: 1000px;
}

.hero {
    padding-top: 180px;
    padding-bottom: 90px;
    background-color: #ece4e4;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: 999999;
    background-repeat: no-repeat;
    background-color: #16213E;
    background-position: center;
}

/* center the lottie-player horizontally and vertically */
lottie-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
