.get-started {
    text-align: center;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}

section.cool-stuff {
    color: #E94560;
    background-color: #c9d3dc9e;
}

.title {
    color: #E94560;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.subtitle {
    color: #646c85;
    font-style: italic;
}

.hero {
    padding-top: 180px;
    padding-bottom: 90px;
    background-color: #fbfbfb;
}

@media (min-width: 155px) {
    h1 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

@media (min-width: 480px) {
    h1 {
        font-size: 4rem;
    }

    h4 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 6rem;
    }

    h4 {
        font-size: 3rem;
    }
}

.hero, .query_form_group {
    color: #E94560;
    margin: 0;
}

.hero-body {
    text-align: center;
}

.icon {
    width: 60%;
}
