{% extends "shared/layout.html" %}
{% block title %}About{% endblock %}

{% block additional_css %}
    <link href="/static/css/account.css" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <script src="/static/js/lottie-player.js"></script>
{% endblock %}

{% block main_content %}
    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 pt-5 pb-4 text-center mx-auto">
                    <h1 id="about-title" class="mt-5">About CSai</h1>
                </div>
            </div>
        </div>

        <div class="container pb-5">
            <div class="row my-auto">
                <div class="col-md-8 col-11 mx-auto">

                    <p> CSai is a web application that allows users to ask questions to an "AI tutor" and receive
                        answers in a conversational manner. The app is finely-tuned towards computer science related
                        questions, while filtering out most off-topic questions. It reliably provides
                        concise and valuable feedback as if you were bouncing questions off of a human professor or
                        mentor. CSai is written in Python, built using the Flask framework, and leverages the power of
                        the OpenAI API. The application is currently in beta and is not available to the public.</p>

                    <div class="row">
                        <div class="col-11 col-md-8 mx-auto">
                            <h2 class="py-4 blockquote fst-italic">"Breakthroughs in A.I. are increasingly improving its
                                capabilities&#8212;opening new and exciting avenues of education."</h2>
                        </div>
                    </div>

                    <p> As a computer science student, I often found it to be a challenge to quickly get answers when I
                        was studying a programming concept. As a college student, I would try
                        to email the professor, and after what felt like ages, finally receive a response that was
                        either too vague or not what I needed.
                        Sometimes I would try posting to one of the well-known "stack" forums and
                        receive replies written by someone that somehow assumed I was a senior engineer with years of
                        experience.
                        Finding help sometimes felt like I was trying to track a snow leopard in the desert.
                        It was harder than trying to center a div in CSS!
                        And for self-taught programmers, getting help can be even harder. Like all lazy engineers,
                        I wanted to make the problem go away and make life easier. I wanted to build a tool
                        for myself, and for others like me, to receive answers to programming questions, quickly and
                        easily. Thus, CSai was born.</p>

                    <div id="lottie-container" class="container ">
                        <div class="row ">
                            <div class="col-12 mx-auto text-center justify-content-center">
                                <lottie-player src="/static/img/preloader.json" mode="bounce"
                                               background="transparent" speed=".2"
                                               loop
                                               autoplay></lottie-player>
                            </div>
                        </div>
                    </div>

                    <p> As technology continues to become more ingrained into our daily lives, Computer Science
                        educators are only going to become more sought-after.
                        However, breakthroughs in A.I. are increasingly improving its capabilities, opening new and
                        exciting avenues of education.</p>


                </div>
            </div>


        </div>
    </section>

{% endblock %}