{% extends "shared/layout.html" %}

{% block additional_css %}
    <link href="/static/css/account.css" rel="stylesheet">
{% endblock %}

{% block title %}About{% endblock %}


{% block main_content %}
    <section id="about-section">
        <div class="text-center mt-5 pt-4">
            <h1 class="mt-5">About CSai</h1>
        </div>
        <div class="container py-5">

            <div class="row my-auto">
                <div class="col-md-8 col-11 mx-auto">

                    <h2 class="blockquote fst-italic">"AI is becoming increasingly more capable every day, and opens up these new
                        and extraordinary avenues of education and tutoring."</h2>

                        answers in a conversational manner. The app is finely-tuned towards computer science related
                        questions, while filtering out most off-topic questions. It reliably provides
                        concise and valuable feedback as if you were bouncing questions off of a human professor or
                        mentor. CSai is written in Python, built using the Flask framework, and leverages the power of
                        the OpenAI API. The application is currently in beta and is not available to the public.</p>

                    <p> As a computer science student, I often found it to be a challenge to quickly get answers when I
                        was studying a programming concept. As a college student, I would try
                        to email the professor, and after what felt like ages, finally receive a response that was
                        either too vague or not what I needed.
                        Sometimes I would try posting to one of the well-known "stack" forums and
                        receive replies written by someone that somehow assumed I was a senior engineer with years of
                        experience.
                        Finding help sometimes felt like I was trying to track a snow leopard in the desert.
                        It was harder than trying to center a div in CSS!
                        And for self-taught programmers, getting help can be even harder. Like all lazy engineers,
                        I wanted to make the problem go away and make life easier. I wanted to build a tool
                        for myself, and for others like me, to receive answers to programming questions, quickly and
                        easily. Thus, CSai was born.</p>

                    <p> The need for computer science educators is perpetually increasing
                        as technology continues to advance and become more ingrained into our daily lives.
                        Fortunately, AI is becoming increasingly more capable every day, and opens up these new
                        and extraordinary avenues of education and tutoring.</p>


                </div>
            </div>


        </div>
    </section>

{% endblock %}