{% extends "shared/layout.html" %}
{% block title %}About{% endblock %}

{% block additional_css %}
    <link href="/static/css/account.css" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <script src="/static/js/lottie-player.js"></script>
{% endblock %}

{% block main_content %}
    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 pt-5 pb-4 text-center mx-auto">
                    <h1 id="about-title" class="mt-5">About CSai</h1>
                </div>
            </div>
        </div>

        <div class="container pb-5">
            <div class="row my-auto">
                <div class="col-md-8 col-11 mx-auto">

                    <p> CSai is a web application that allows users to ask questions to an "AI tutor" and receive
                        answers in a conversational manner. CSai is written in Python, built using the Flask framework,
                        and leverages the power of the OpenAI API. The application is currently in beta and is not
                        available to the public.</p>

                    <div class="row">
                        <div class="col-11 col-md-8 mx-auto">
                            <h2 class="py-4 blockquote fst-italic">"Breakthroughs are increasingly improving what A.I.
                                is capable of&#8212;opening new and exciting avenues of education."</h2>
                        </div>
                    </div>

                    <p> As a computer science student, it can be challenging to quickly get help when stuck on a
                        problem or programming concept. Emailing a professor can be time-consuming if they are slow to
                        respond. Posting to the online forums can be hit-or-miss, and often results in a lot of noise
                        or misinformation. Asking for help from friends or classmates is certainly a possibility... IF
                        you are lucky enough to know someone with the right knowledge.</p>
                    <p>
                        Without a doubt, finding help with programming concepts is challenging. And for self-taught
                        individuals, it can be even harder. These are the thoughts that inspired the creation of CSai.
                        A tool that can help students and self-taught individuals quickly get answers to their
                        programming questions. Imagine a future where we can realiably depend on A.I. to help us learn
                        and grow. CSai is a small step in that direction. </p>

                    <div id="lottie-container" class="container ">
                        <div class="row ">
                            <div class="col-12 mx-auto text-center justify-content-center">
                                <lottie-player src="/static/img/preloader.json" mode="bounce"
                                               background="transparent" speed=".2"
                                               loop
                                               autoplay></lottie-player>
                            </div>
                        </div>
                    </div>

                    <p> As technology continues to become more ingrained into our daily lives, Computer Science
                        educators are only going to become more sought-after.
                        Fortunately, breakthroughs are increasingly improving what A.I. is
                        capable of&#8212;opening new and exciting avenues of education.</p>


                </div>
            </div>


        </div>
    </section>

{% endblock %}