{% extends "shared/layout.html" %}
{% block title %}CS Tutor{% endblock %}
{% block additional_css %}
    <link href="/static/css/app.css" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <script src="/static/js/lottie-player.js"></script>
    <script>
        // hide the loading screen when the page is loaded
        $(window).on("load", function () {
            $(window).scrollTop(0);
            // disable scrolling
            $("body").css("overflow", "hidden");
            // fade out
            setTimeout(function () {
                $(".preloader").fadeOut(300);
            }, 1000);
            // re-enable scrolling
            setTimeout(function () {
                $("body").css("overflow", "auto");
            }, 1300);
        });

        // show the loading screen when the form is submitted
        $(document).ready(function () {
            $("#form").submit(function () {
                // scroll to the top
                $(window).scrollTop(0);
                $(".preloader").show();
            });
        });

        //when the user presses reload, bring the user to the top of the page
        $(document).ready(function () {
            $(window).on('beforeunload', function () {
                $(window).scrollTop(0);
                // disable scroll
                $("body").css("overflow", "hidden");
            });
        });
    </script>
{% endblock %}

{% block main_content %}

    <div class="preloader text-center justify-content-around">

        <lottie-player src="/static/img/preloader.json" mode="bounce"
                       background="transparent" speed=".5" style="width: 500px; height: 500px;" loop
                       autoplay></lottie-player>
    </div>

    <!-- ------------------------- NOTIFICATION AREA ------------------------- -->

    <!-- If there are errors passed from the view models, prioritize those -->
    {% if error %}
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-12 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error:</strong> {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- If no errors from vm's, then show flask flashed msgs instead -->
    {% else %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="col-12 mx-auto">
                            {% for message in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Warning:</strong> {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}

    <!-- ------------------------- APP AREA ------------------------- -->

    <section class="query_form_group pt-5 pb-3">

        <div class="container">
            <div class="row mt-5 pt-5 pb-3">
                <div class="col-12 mx-auto mb-3 text-center">
                    <h1 id="app-title">{{ user.name }}'s CSai Interface</h1>
                    <h5>You can ask any Computer Science related question!</h5>
                </div>
            </div>
        </div>

        <div class="justify-content-center align-items-center h-100 p-2 form-body mx-auto">

            <form id="form" action="/app" method="post" class="g-3" onsubmit="disableSubmit()">

                <div class="row">
                    <div class="col-12 col-md-10 mx-auto">

                        <div id="query-area" class="query-area mb-2" tabindex="0">

                            <label class="visually-hidden" for="query">Query</label>
                            <textarea id="query" onkeyup="countChars()" name="query" type="text"
                                      autocomplete="off"
                                      class="d-flex unstyled-ta"
                                      rows="4"
                                      placeholder="Type your query here..."
                            ></textarea>
                            <!-- character counter -->
                            <div class="d-flex justify-content-end p-1 mx-1">
                                <span id="char_count">0 / 200</span>
                            </div>

                        </div>

                        <div class="d-grid gap-2">
                            <button id="submit" type="submit"
                                    class="btn btn-primary btn-custom-2 grow-lg-button p-2">
                                Submit
                            </button>
                        </div>

                        <textarea id="output" class="my-4" rows="8" readonly>{% if error %}{{ error }}{% elif resp_text %}{{ " ".join(resp_text.split()).strip() }}{% endif %}</textarea>

                    </div>
                </div>

            </form>
        </div>

    </section>


{% endblock %}
