{% extends "shared/layout.html" %}
{% block title %}Home{% endblock %}
{% block additional_css %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block additional_js %}
{% endblock %}

{% block main_content %}

    <section class="hero">

        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="hero-body p-1">
                <h1 class="title">
                    Welcome to CSai.
                </h1>
                <h4 class="subtitle">
                    A.I. computer science tutoring.
                </h4>
                <form action="/account/register" method="get">
                    <button class="btn btn-custom-2 btn-primary get-started grow-sm-button"
                            id="start-button" type="submit">
                        Get Started
                    </button>
                </form>
            </div>
        </div>

    </section>

    <section class="cool-stuff">
        <div class="container text-center p-3">
            <div class="d-flex row justify-content-evenly">

                <div class="col-lg-5">
                    <img src="/static/img/hand_icon.svg" class="icon" alt="">
                </div>
                <div class="col-lg-5 d-flex align-items-center fw-semibold p-1">
                    <p class="">Leverage the power of OpenAI's GPT-3! Ask computer science related questions and get
                        answers, code, or explanations. Shake hands with your A.I. tutor today, and get instant
                        feedback!</p>
                </div>

            </div>
        </div>
    </section>

    <section class="query_form_group pt-5 pb-3">

        <div class="justify-content-center align-items-center h-100 p-2 form-body mx-auto">

            <form action="/" class="g-3" method="post" onsubmit="disableSubmit()">
                <div class="row">

                    <div class="col-12 col-md-10 mx-auto">
                        <div id="query-area" class="query-area mb-2">

                            <label class="visually-hidden" for="query">Query</label>
                            <textarea id="query" onkeyup="countChars()" name="query" type="text"
                                      autocomplete="off"
                                      class="d-flex unstyled-ta"
                                      rows="4"
                                      placeholder="I have a variable that stores information about a dog, should I name it dog?"
                            ></textarea>
                            <!-- character counter -->
                            <div class="d-flex justify-content-end p-1 mx-1">
                                <span id="char_count">0 / 200</span>
                            </div>

                        </div>

                        <div class="d-grid gap-2">
                            <button id="submit" type="submit" class="btn btn-primary btn-custom-2 grow-lg-button p-2">
                                Try it out!
                            </button>
                        </div>

                        <textarea class="my-4" id="output" rows="8" readonly>{% if resp_text %}{{ " ".join(resp_text.split()).strip() }}{% elif error %}{{ error }}{% endif %}</textarea>

                    </div>

                </div>

            </form>
        </div>

    </section>


{% endblock %}
