{% extends "shared/layout.html" %}
{% block additional_css %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/static/js/index.js"></script>
{% endblock %}

{% block main_content %}

    <section class="hero">

        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="hero-body p-1">
                <h1 class="title">
                    Welcome to CSVE.
                </h1>
                <h4 class="subtitle">
                    An A.I. variable evaluation tool, and more.
                </h4>
                <button href="/account/register" class="btn btn-custom-2 btn-primary get-started grow-sm-button"
                        id="start-button">
                    Get Started
                </button>
            </div>
        </div>

    </section>

    <section class="cool-stuff">
        <div class="container text-center p-3">
            <div class="d-flex row justify-content-evenly">

                <div class="col-lg-5">
                    <img src="/static/img/hand_icon.svg" class="icon" alt="">
                </div>
                <div class="col-lg-5 d-flex align-items-center fw-semibold p-1">
                    <p class="">Leverage the power of OpenAI's GPT-3 to evaluate variable naming conventions and answer your programming questions. It's like shaking hands with your very own A.I. tutor!</p>
                </div>

            </div>
        </div>
    </section>

    <section class="query_form_group pt-5 pb-3">

        <div class="justify-content-center align-items-center h-100 p-2 form-body mx-auto">

            <form action="/" class="g-3" method="post">

                <input id="usr_data" class="visually-hidden" type="text">

                <div class="query-area mb-2">

                    <label class="visually-hidden" for="query">Query</label>
                    <textarea id="query" onkeyup="countChars()" name="query" type="text"
                              autocomplete="off"
                              class="d-flex form-control unstyled-ta"
                              rows="4"
                              placeholder="I have a variable that stores information about a dog, should I name it dog?"
                    ></textarea>
                    <!-- character counter -->
                    <div class="d-flex justify-content-end p-1 mx-1">
                        <span id="char_count">0 / 200</span>
                    </div>

                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-custom-2 grow-lg-button p-2">Submit</button>
                </div>

                <textarea class="form-control my-4 text-area" id="output" rows="8" readonly>{% if resp_text %}{{ " ".join(resp_text.split()).strip() }}{% elif error %}{{ error }}{% endif %}</textarea>
            </form>
        </div>

    </section>


{% endblock %}
